.tight{
    color:#c9182a; 
}
.test{  
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}  
html, body {
    height: 100%;
}
body {
    margin: 0;
} 